<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>V studio</title>
</head>

<body>

    <form method="POST">
        <p>音声ファイルを選択</p>
        <select name="sound">
            <option value="edm_1">EDM その１</option>
            <option value="edm_2">EDM その２</option>
        </select>
        <br>
        <p>VMDファイルを選択</p>
        <select name="vmd">
            <option value="wait">待機</option>
            <option value="bleath">呼吸</option>
            <option value="wavefile">ダンス(wavefile)</option>
        </select>
        <br>
        <p><input type="submit" name="save" value="送信" /></p>
    </form>

    <video id="video" width="640" height="480" autoplay></video>
    <video id="result_video" width="640" height="480" autoplay></video>
    <button id="record_btn">Record</button>
    <div id="result"></div>

    <script>

        var video = document.getElementById("video")
        var result_video = document.getElementById("result_video")
        var record_btn = document.getElementById("record_btn")
        var media = navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        })


        //リアルタイムに再生（ストリーミング）させるためにビデオタグに流し込む
        media.then((stream) => {
            video.srcObject = stream

            // さらにstreamをmp4で保存
            recorder = new MediaRecorder(stream)

            var chunks = []
            recorder.addEventListener('dataavailable', (e) => {
                chunks.push(e.data);
            })

            record_btn.onclick = function () {
                recorder.start()
                record_btn.disabled = true

                setTimeout("recorder.stop()", 7000)

            }

            recorder.onstop = function (e) {
                var blob = new Blob(chunks, { type: 'video/mp4' })
                result_video.src = window.URL.createObjectURL(blob)
                result_video.play()

                var formData = new FormData()
                formData.append('type', "recordedVideo")
                formData.append('blob', blob)

                // Ajaxでblobを送信
                var xhr = new XMLHttpRequest()
                xhr.open('POST', '/makevmd')
                xhr.send(formData)

            }
        });


    </script>

</body>

</html>==